/* Typography CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');
body {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Poppins', sans-serif;
}
// Heading 
$heading: (h1, 50px, 48px, 700), (h2, 32px, 38px, 700),(h3, 28px, 32px, 600),(h4, 24px, 28px, 500),(h5, 20px, 24px, 500),(h6, 16px, 22px, 400), (p, 16px, 22px, 400);
@each $name, $font-size, $line-height, $font-weight in $heading {
    #{$name} {
      font-size: $font-size;
      line-height: $line-height;
      font-weight: $font-weight;
      font-family: 'Raleway', sans-serif;
    }
}
//Align 
$align: left, center, right, justify;
@each $i in $align {
  .text-#{$i} {
    text-align: $i;
  }
}
//Padding & Margin
@for $i from 1 through 10 {
  .pt-#{$i * 10} {
      padding-top: $i * 10px;
  }
  .pb-#{$i * 10} {
    padding-bottom: $i * 10px;
  }
  .mt-#{$i * 10} {
    margin-top: $i * 10px;
  }
  .mb-#{$i * 10} {
    margin-bottom: $i * 10px;
  }
}